.Card {
    border-radius: 10px;
    border: 2px solid;
    overflow: hidden;
    margin: 10px;

    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 300px;
}

.Card .Content {
    flex: 1;
    background-color: white;
    color: black;
}

.Card .Title {
    padding: 5px 0px;
    display: flex;
    justify-content: center;
}